@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lato&family=Plus+Jakarta+Sans:ital,wght@0,700;1,400&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,600;1,700&family=Ubuntu&family=Work+Sans&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'sans serif';
  color: #FFF5E1;
}
body{
    margin-top: auto;
    background-color: #2F2E41;
}

.genre-title{
    font-family: 'Lato';
    font-size: 90px;
    font-weight: bold;
    text-shadow: -5px 5px 0px #EE5007;
}

.about{
    width: 100%;
    max-width: 100%;
	padding: 30px 0px;
    
}
.about img{
    padding-top: 20px;
    height: auto;
    width: 400px;
}
.about-content{
    width: 550px;
}
.page-title{
    font-weight: bold;
    color: #329DA0;
    text-shadow: -5px 5px 5px rgb(0 0 0 / 60%);
}
.main{
    flex-wrap: wrap;
    width: 1130px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-content h3{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
.about-content h1{
    color: #329DA0;
    font-weight: bold;
    font-size: 60px;
}
.text{
    padding-top: 20px;
}
.genre-text{
    word-wrap: break-word;
    color: #fcfc;
}
.about-content .find-out{
    padding: 25px 0;
}
.btn-success{
    margin-left: 8px;
    width: 100px;
}
.btn-danger{
    margin-left: 8px;
    width: 100px;
}
.section-title{
    border: solid 2px #EE5007;
    background-color: #EE5007;
}
.header{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.section{
    padding: 30px;
}
.section img{
    height: auto;
    width: 400px;
}
.genre-art{
    width: 550px;
}

.genre-img{
    border-top-right-radius: 20px;
}


.line{
    display: inline-block;
    width: 270px;
    height: 3px;
    background-color: #EEB523;
}

hr {
    border: 0;
    border-top: 2px solid #fcfc;
  }

