@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lato&family=Plus+Jakarta+Sans:ital,wght@0,700;1,400&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'sans serif';
    color: #FFF5E1;
  }
body{
    background-color: #2F2E41;
}

.page-header{
    padding: 5vh;
    font-weight: bold;
    text-shadow: 4px 4px #EE5007;
    text-align: center;
}


.project-container{
    display: flex;
    margin: 6vh;
    width: 90%;
    align-items: center;
    background-color: #575669;
}

.project-img{
    height: 280px;
    width: 280px;
}

.page-header{
    font-size: 3rem;
}

.project-details{
    display: block;
    margin-left: 5vh;
    padding: 2vh;
}
.project-title{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px #EE5007;
}

.project-desc{
    margin-top: 3vh;
    width: 100%;
}

.project-date{
    font-style: italic;
    color: #fcfc;
}

.button{
    margin-top: 3vh;
	background-color: #EE5007;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	padding: 10px 30px;
	border-radius: 10px;
	transition: .4s; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.button:hover{
	background-color: transparent;
	border: 2px solid #EE5007;
	cursor: pointer;
    font-weight: bold;;
    color: white;
    padding: 10px 55px;
}


.error-message {
    padding: 40px 0px;
}

.center{
    height: auto;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.txt-center{
    padding: 10px 0px;
    text-align: center;
}

.dl-btn{
	background-color: #EE5007;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	padding: 10px 30px;
	border-radius: 30px;
	transition: .4s; 
    width: 20%;
}
.dl-btn:hover{
	background-color: transparent;
	border: 2px solid #EE5007;
	cursor: pointer;
  color: #EE5007;

}
.go-back{
    text-align: center;
}

@media screen and (max-width: 970px) {
    body{
        display: block;
    }
    .page-header{
        text-align: center;
    }
    .project-container{
        display: flex;
        flex-direction: column;
    }
    .project-img{
        display: block;
        margin: 0 auto;
        padding: 2vh;
    }
    .project-details{
        margin: 0;
    }
    .project-title{
        text-align: center;
    }
    .project-date{
        text-align: center;
    }
    .project-desc{
        text-align: justify;
    }
    .button-container{
        display: flex;
        justify-content: center;
    }

}